.spikers {
    padding: 70px 220px 30px;
    align-items: center;
}

.spikers__title {
    color: #0A2756;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 84px */
}

.spiker {
    max-width: 380px;
}

.swiper-button {
    height: 85px;
    width: 28px;
}

.swiper-slide {
    max-width: 420px;
    /* margin-left: 100px; */
}

.swiper-button-prev {
    margin-right: -96px;
    transform: scale(-1, -1);

    /* background-image: url(../../images/Vector_black.svg); */
}

.swiper-pagination {
    position: relative;
    margin-top: 50px;
}

.swiper {
    align-items: center;
}

@media (max-width: 1200px) {
    .spikers {
        padding: 25px 70px 0;
    }
    .swiper-button {
       display: none;
    }
}