.footer {
    padding: 140px 220px 160px;
    display: flex;
    flex-direction: column;
    background-color: #0A2756;
    text-align: center;
}

.footer__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer__link_type_email {
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 56px */
}

.footer__link_type_phone {
    margin: 10px 0 25px;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.footer__link_type_info {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    text-decoration-line: underline;
}